.App {
  width: 100vw;
  height: 100vh;
}

.window {
  width: 100vw;
  height: 100vh;
  /* clip-path: inset(50px 50% 50px 70px); */
}

.front {
  display: block;
  position: absolute;
  width: 150vw;
  height: 150vw;
  z-index: 99;
}

.webcam {
  position: fixed;
  width: 150vw;
  height: 150vh;
  left: -25vw;
  top: -25vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
